<h1>Admin Dashboard</h1>
<table class="table table-bordered table-hover admin-table">
  <tbody>
    <tr>
      <th scope="row">Car Brands</th>
      <td ><%= link_to 'View Details', 'car_brands_path', class: "btn btn-info " %></td>
    </tr>
    <tr>
      <th scope="row">Car Models</th>
      <td><%= link_to 'View Details', 'car_brands_path', class: "btn btn-info " %></td>
    </tr>
    <tr>
      <th scope="row">Car Variants</th>
      <td><%= link_to 'View Details', 'car_brands_path', class: "btn btn-info " %></td>
    </tr>
    <tr>
      <th scope="row">Ranges of the kilometer driven by a car</th>
      <td><%= link_to 'View Details', 'car_brands_path', class: "btn btn-info " %></td>
    </tr>
    <tr>
      <th scope="row">Car Registration City</th>
      <td><%= link_to 'View Details', cities_path, class: "btn btn-info " %></td>
    </tr>
    <tr>
      <th scope="row">Car Registration State</th>
      <td><%= link_to 'View Details', 'car_brands_path', class: "btn btn-info " %></td>
    </tr>
    <tr>
      <th scope="row">Car Registration year</th>
      <td><%= link_to 'View Details', 'car_brands_path', class: "btn btn-info " %></td>
    </tr>
    <tr>
      <th scope="row">Car Costs and Conditions</th>
      <td><%= link_to 'View Details', 'car_brands_path', class: "btn btn-info " %></td>
    </tr>
    <tr>
      <th scope="row">Manage Appointments</th>
      <td><%= link_to 'View Details', 'car_brands_path', class: "btn btn-info " %></td>
    </tr>
  </tbody>
</table>