<h1>Admin Dashboard</h1>

<div class="card-group text-center">
  <div class="card">
    <div class="card-header">Car Brands and Models</div>
    <div class="card-body">
      <%= link_to 'Add new', 'car_brands_path', class: "btn btn-dark " %>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Car Registration City</div>
    <div class="card-body">
      <%= link_to 'Add new', 'car_cities_path', class: "btn btn-dark"  %>
    </div>
  </div>
</div>
  <div class="card-group text-center">
  <div class="card">
    <div class="card-header">Car Registration State</div>
    <div class="card-body">
      <%= link_to 'Add new', 'car_registration_states_path', class: "btn btn-dark"  %>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Car Variants</div>
    <div class="card-body">
      <%= link_to 'Add new', 'car_variants_path', class: "btn btn-dark"  %>
    </div>
  </div>
</div>
  <div class="card-group text-center">
  <div class="card">
    <div class="card-header">Ranges of the kilometer driven by a car</div>
    <div class="card-body">
      <%= link_to 'Add new', 'car_kilometer_drivens_path', class: "btn btn-dark"  %>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Car Registration year</div>
    <div class="card-body">
      <%= link_to 'Add new', 'car_registration_years_path', class: "btn btn-dark"  %>
    </div>
  </div>
</div>
  <div class="card-group text-center">
  <div class="card">
    <div class="card-header">Car Costs and Conditions</div>
    <div class="card-body">
      <%= link_to 'Add new', 'car_costs_path', class: "btn btn-dark"  %></p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Manage Appointments</div>
    <div class="card-body">
      <%= link_to 'details', 'appointments_path', class: "btn btn-dark"  %>
    </div>
  </div>
</div>