<h1>Manage appointment </h1>
<%= link_to "Back", admin_all_appointments_path, class: "btn btn-primary" %>
<table class="table table-bordered ap-table text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Car ID</th>
      <th scope="col">Date</th>
      <th scope="col">ID of requested User</th>
      <th scope="col">Status</th>
      <% unless @ap.status == "rejected" or @ap.status == "accepted"%>
        <th scope="col" colspan="4">Options</th>      
      <% end %>    
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @ap.id %></td>
      <td><%= @ap.car_id %></td>
      <td><%= @ap.date ? @ap.date : "not scheduled yet"%></td>
      <td><%= @ap.who_user_id %></td>
      <td><%= @ap.status %></td>
      <% unless @ap.status == "rejected" or @ap.status == "accepted"%>
        <td><%= link_to "schedule date", admin_schedule_appointment_path(id: @ap.id), class: "btn btn-primary" %></td>
        <td><%= link_to "accept", admin_accept_appointment_path(id: @ap.id), class: "btn btn-success" %></td>
        <td><%= link_to "reject", admin_reject_appointment_path(id: @ap.id), class: "btn btn-danger" %></td>
      <% end %>
    </tr>
  </tbody>
<table>
