<%= form_for @user do |f| %>
  <%= render partial: "shared/error_messages", locals: { var: @user } %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>
  
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :number, 'Phone Number' %>
    <%= f.telephone_field :number, class: "form-control", required: true %>
  </div>


  <div class="form-group form-row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-check">
        <%= f.radio_button :category, "Buyer", class: "form-check-input", required: true %>
        <%= f.label :category, "Buyer", class: "form-check-label", for: "user_category_buyer" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="form-check">
        <%= f.radio_button :category, "Seller", class: "form-check-input", required: true %>
        <%= f.label :category, "Seller", class: "form-check-label", for: "user_category_seller" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", required: true  %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control", required: true  %>
  </div>

  <%= f.submit "Create my Account", class: "btn btn-primary" %>
<% end %>