<%= link_to 'back', cars_search_path, class: 'btn btn-secondary back-button'%>
<table class="table table-bordered">
  <thead class="thead-light text-center">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Brand</th>
      <th scope="col">Model</th>
      <th scope="col">Variant</th>
      <th scope="col">Kilomete Range</th>
      <th scope="col">State</th>
      <th scope="col">City</th>
      <th scope="col">Year</th>
      <th scope="col">Condition</th>
      <th scope="col">Verified</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr>
      <td><%= @car.id %></td>
      <td><%= @car.brand %></td>
      <td><%= @car.model %></td>
      <td><%= @car.variant %></td>
      <td><%= @car.kilometer_range %></td>
      <td><%= @car.state %></td>
      <td><%= @car.city %></td>
      <td><%= @car.year %></td>
      <td><%= @car.condition %></td>
      <td><%= @car.verified %></td>
    </tr>
  </tbody>
</table>
<table class="table">
  <thead class="thead-dark">
    <tr><th scope="col" colspan="2" class='text-center'>You can do</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>Show the quotation of your car by entering your registered number</th>
      <td class="text-center"><%= link_to 'Show Quotation', quotation_user_car_path(current_user,@car), class: "btn btn-info" %></td>
    </tr>
    <tr>
      <td>Request an appointment with the Seller to buy the car.</td>
      <td class="text-center">
        <% if !@requested %>
          <%= link_to 'Buy car', buy_request_user_car_path(id: @car, user_id: current_user), class: "btn btn-info" %> 
        <% else %>
          <button type="button" class="btn btn-outline-info" disabled>Seller Appointment Requested</button>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
