<header>
  <nav class="navbar navbar-expand-sm fixed-top navbar-inverse navbar-dark bg-dark">   
    <div class="container">     
      <%= link_to "Car Reselling Corp.", root_path, class: "navbar-brand" %> 
      <ul class="nav navbar-nav ml-auto">         
        <% if logged_in? %>
          <% if current_user.admin  %>
            <li class="nav-item"><%= link_to "Admin Dashboard", admin_dashboard_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %></li>
          <% else %>          
            <% if current_user.category == "Seller" %>
              <li class="nav-item"><%= link_to "Seller Dashboard", user_cars_path(current_user), class: "nav-link" %></li>
              <% else %>
              <li class="nav-item"><%= link_to "Buyer Dashboard", cars_search_path, class: "nav-link" %></li>
            <% end %>      
            <li class="nav-item dropdown" data-behavior="notifications">
              <a class="nav-link dropdown-toggle " href=# data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= fa_icon "bell" %><span data-behavior="unread-count" class="badge badge-light"></span>             
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1" data-behavior="notification-items">
              </div>
            </li>               
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "My appointment", my_appointments_user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Branches", places_users_path, class: "dropdown-item" %>
                <%= link_to "My Profile", edit_user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Status", edit_user_path(current_user), class: "dropdown-item" %>
                <!--<%= link_to "Profile", current_user, class: "dropdown-item" %>-->
                <div class="dropdown-divider"></div>
                <%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item"><%= link_to "Sign up", signup_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
        <% end %>  
      </ul>
    </div>
  </nav>
</header>